Thank you for using rottenmangoes.com, <%= @user.full_name %>
===============================================
 
You have successfully signed up to example.com,
your username is: <%= @user.full_name %>.
 
It would be great to hear your feedback on why you are leaving. We would really appreaciate you answering this<a href="#">30 second survey</a>.
 
Thanks you, and have a great day!