<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using rottenmangoes.com, <%= @user.full_name %></h1>
    <p>
      It would be great to hear your feedback on why you are leaving. We would really appreaciate you answering this<a href="#">30 second survey</a>.
    </p>
    <p>Thanks you, and have a great day!</p>
  </body>
</html>